header {
  background-color: white;
}

.nav a {
  color: #32414B !important;
  text-decoration: none;
}

.navbar-brand {
  background-image: url('../../biodaten/images/biodaten_logo.jpg') !important;
}

.searchHomeContent {
  background-color: #a51e37;
  background-image: none;
}

.searchHomeContent:after {
   content: none;
}

#searchForm_lookfor {
  width: inherit;
}

.form-control {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
}

#searchForm > .btn-primary, #searchForm > .btn-primary:hover {
  background-color: #32414B;
  color: #fff;
}

#searchForm > .btn-primary:hover {
  border-color: white;
}

#search-sidebar {
  padding-left: 10px;
  padding-right: 10px;
}

.form-control:focus {
  border-bottom-color: #B4A069;
}
